In [2]:
# this is raynaldo practice

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [27]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=1000000)

In [8]:
# print(df)

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [10]:
# membuat shcema sql berdasarkan pandas data fram
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [12]:
# if we using con=engine :
# ensures sql schema generated optimize with the target database

In [ ]:
# now we need establish communication to database :

In [16]:
# initiate database enginer using create_engine
# to postgresql database server/db  192.168.128.130:5432/ny_taxi
engine = create_engine('postgresql://root:root@192.168.128.130:5432/ny_taxi')

In [17]:
# establishes a connection to the database using engine.connect()
engine.connect()

In [28]:
print(len(df))

1000000

In [29]:
# now we need insert into table database chunk by chunk
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv' , iterator=True, chunksize=100000)

In [30]:
df = next(df_iter)

# next(df_iter) again to get the next chunk of data.
# The first chunk of data is stored in the df variable

In [32]:
# Convert Pandas DataFrame df into datetime objects
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [34]:
# generate column name only
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [35]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [36]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 12.6 s, sys: 258 ms, total: 12.8 s
Wall time: 19.1 s

1000

In [39]:
from time import time

In [41]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    print('inserted another chunk....')

    t_end = time()
    print(f'inserted another chunk..., took {t_end - t_start:3f} seconds')

inserted another chunk....
inserted another chunk..., took 21.935244 seconds
inserted another chunk....
inserted another chunk..., took 23.387236 seconds
inserted another chunk....
inserted another chunk..., took 23.065879 seconds
inserted another chunk....
inserted another chunk..., took 23.188389 seconds
inserted another chunk....
inserted another chunk..., took 24.570505 seconds
inserted another chunk....
inserted another chunk..., took 24.977480 seconds
inserted another chunk....
inserted another chunk..., took 24.694788 seconds
inserted another chunk....
inserted another chunk..., took 23.906782 seconds
inserted another chunk....
inserted another chunk..., took 24.507503 seconds
inserted another chunk....
inserted another chunk..., took 24.849430 seconds

/tmp/ipykernel_814/3233571817.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk....
inserted another chunk..., took 26.240891 seconds
inserted another chunk....
inserted another chunk..., took 15.529103 seconds

StopIteration: